.catalog{
    background-color: white;
}
.catalog h2{
    color:black;
    text-transform: uppercase;
    font-size: 30px;
    padding: 15px;
}

.contentBanner{
    border: none;
    background-image: linear-gradient(to right, gold, rgb(229, 231, 226));
    
    padding: 30px 32px;
    
}


